/* Code for styling the legend bar and setting up the color boxes in the legend */
.boxc {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.vhigh {
  background: #C0392B;
}

.high {
  background: #EC7063;
}

.medium {
  background: #EDBB99;
}

.low {
  background: #7DCEA0;
}

.vlow {
  background: #27AE60;
}

#buttons-container {
  text-align: center;
  margin-bottom: 10px;
}

.btn {
  margin-right: 6px;
  background-color: #717D7E;
}

.tab-content {
  background-color: #D4E6F1;
  border-style: groove;
  border-radius: 10px;
}

.legend-color-box {
  height: 15px;
  width: 15px;
  float: left;
  margin-left: 15px;
  margin-top: 5px;
}

.legend{
  font-style: italic;
  font-family: 'Trebuchet MS', sans-serif;
}
